:root, [data-bs-theme=light] {
  --bs-primary: #7b6e4d;
  --bs-primary-rgb: 123,110,77;
  --bs-primary-text-emphasis: #312C1F;
  --bs-primary-bg-subtle: #E5E2DB;
  --bs-primary-border-subtle: #CAC5B8;
  --bs-secondary: #333333;
  --bs-secondary-rgb: 51,51,51;
  --bs-secondary-text-emphasis: #141414;
  --bs-secondary-bg-subtle: #D6D6D6;
  --bs-secondary-border-subtle: #ADADAD;
  --bs-success: #6dc571;
  --bs-success-rgb: 109,197,113;
  --bs-success-text-emphasis: #2C4F2D;
  --bs-success-bg-subtle: #E2F3E3;
  --bs-success-border-subtle: #C5E8C6;
  --bs-info: #a1a1a1;
  --bs-info-rgb: 161,161,161;
  --bs-info-text-emphasis: #404040;
  --bs-info-bg-subtle: #ECECEC;
  --bs-info-border-subtle: #D9D9D9;
  --bs-warning: #3ebff6;
  --bs-warning-rgb: 62,191,246;
  --bs-warning-text-emphasis: #194C62;
  --bs-warning-bg-subtle: #D8F2FD;
  --bs-warning-border-subtle: #B2E5FB;
  --bs-danger: #ed7469;
  --bs-danger-rgb: 237,116,105;
  --bs-danger-text-emphasis: #5F2E2A;
  --bs-danger-bg-subtle: #FBE3E1;
  --bs-danger-border-subtle: #F8C7C3;
  --bs-light: #ffffff;
  --bs-light-rgb: 255,255,255;
  --bs-light-text-emphasis: #666666;
  --bs-light-bg-subtle: #FFFFFF;
  --bs-light-border-subtle: #FFFFFF;
  --bs-dark: #1c1c1c;
  --bs-dark-rgb: 28,28,28;
  --bs-dark-text-emphasis: #0B0B0B;
  --bs-dark-bg-subtle: #D2D2D2;
  --bs-dark-border-subtle: #A4A4A4;
  --bs-body-color: #212121;
  --bs-body-color-rgb: 33,33,33;
  --bs-secondary-color: rgba(33,33,33,0.75);
  --bs-secondary-color-rgb: 33,33,33,0.75;
  --bs-tertiary-color: rgba(33,33,33,0.5);
  --bs-tertiary-color-rgb: 33,33,33,0.5;
  --bs-body-bg: #ffffff;
  --bs-body-bg-rgb: 255,255,255;
  --bs-link-color: #272727;
  --bs-link-color-rgb: 39,39,39;
  --bs-link-hover-color: #616161;
  --bs-link-hover-color-rgb: 97,97,97;
  --bs-link-decoration: underline;
  --bs-border-color: #000000;
  --bs-focus-ring-opacity: 0.4;
  --bs-focus-ring-color: rgba(223,209,78,0.27);
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #7b6e4d;
  --bs-btn-border-color: #7b6e4d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #695E41;
  --bs-btn-hover-border-color: #62583E;
  --bs-btn-focus-shadow-rgb: 235,233,228;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #62583E;
  --bs-btn-active-border-color: #5C533A;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #7b6e4d;
  --bs-btn-disabled-border-color: #7b6e4d;
}

.btn-outline-primary {
  --bs-btn-color: #7b6e4d;
  --bs-btn-border-color: #7b6e4d;
  --bs-btn-focus-shadow-rgb: 123,110,77;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #7b6e4d;
  --bs-btn-hover-border-color: #7b6e4d;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #7b6e4d;
  --bs-btn-active-border-color: #7b6e4d;
  --bs-btn-disabled-color: #7b6e4d;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #7b6e4d;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #333333;
  --bs-btn-border-color: #333333;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2B2B2B;
  --bs-btn-hover-border-color: #292929;
  --bs-btn-focus-shadow-rgb: 224,224,224;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #292929;
  --bs-btn-active-border-color: #262626;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #333333;
  --bs-btn-disabled-border-color: #333333;
}

.btn-outline-secondary {
  --bs-btn-color: #333333;
  --bs-btn-border-color: #333333;
  --bs-btn-focus-shadow-rgb: 51,51,51;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #333333;
  --bs-btn-hover-border-color: #333333;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #333333;
  --bs-btn-active-border-color: #333333;
  --bs-btn-disabled-color: #333333;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #333333;
}

.btn-success {
  --bs-btn-color: #000000;
  --bs-btn-bg: #6dc571;
  --bs-btn-border-color: #6dc571;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #83CE86;
  --bs-btn-hover-border-color: #7CCB7F;
  --bs-btn-focus-shadow-rgb: 16,30,17;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #8AD18D;
  --bs-btn-active-border-color: #7CCB7F;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #6dc571;
  --bs-btn-disabled-border-color: #6dc571;
}

.btn-outline-success {
  --bs-btn-color: #6dc571;
  --bs-btn-border-color: #6dc571;
  --bs-btn-focus-shadow-rgb: 109,197,113;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #6dc571;
  --bs-btn-hover-border-color: #6dc571;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #6dc571;
  --bs-btn-active-border-color: #6dc571;
  --bs-btn-disabled-color: #6dc571;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #6dc571;
}

.btn-info {
  --bs-btn-color: #000000;
  --bs-btn-bg: #a1a1a1;
  --bs-btn-border-color: #a1a1a1;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #AFAFAF;
  --bs-btn-hover-border-color: #AAAAAA;
  --bs-btn-focus-shadow-rgb: 24,24,24;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #B4B4B4;
  --bs-btn-active-border-color: #AAAAAA;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #a1a1a1;
  --bs-btn-disabled-border-color: #a1a1a1;
}

.btn-outline-info {
  --bs-btn-color: #a1a1a1;
  --bs-btn-border-color: #a1a1a1;
  --bs-btn-focus-shadow-rgb: 161,161,161;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #a1a1a1;
  --bs-btn-hover-border-color: #a1a1a1;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #a1a1a1;
  --bs-btn-active-border-color: #a1a1a1;
  --bs-btn-disabled-color: #a1a1a1;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #a1a1a1;
}

.btn-warning {
  --bs-btn-color: #000000;
  --bs-btn-bg: #3ebff6;
  --bs-btn-border-color: #3ebff6;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #5BC9F7;
  --bs-btn-hover-border-color: #51C5F7;
  --bs-btn-focus-shadow-rgb: 9,29,37;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #65CCF8;
  --bs-btn-active-border-color: #51C5F7;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #3ebff6;
  --bs-btn-disabled-border-color: #3ebff6;
}

.btn-outline-warning {
  --bs-btn-color: #3ebff6;
  --bs-btn-border-color: #3ebff6;
  --bs-btn-focus-shadow-rgb: 62,191,246;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #3ebff6;
  --bs-btn-hover-border-color: #3ebff6;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #3ebff6;
  --bs-btn-active-border-color: #3ebff6;
  --bs-btn-disabled-color: #3ebff6;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #3ebff6;
}

.btn-danger {
  --bs-btn-color: #000000;
  --bs-btn-bg: #ed7469;
  --bs-btn-border-color: #ed7469;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #F08980;
  --bs-btn-hover-border-color: #EF8278;
  --bs-btn-focus-shadow-rgb: 36,17,16;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #F19087;
  --bs-btn-active-border-color: #EF8278;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #ed7469;
  --bs-btn-disabled-border-color: #ed7469;
}

.btn-outline-danger {
  --bs-btn-color: #ed7469;
  --bs-btn-border-color: #ed7469;
  --bs-btn-focus-shadow-rgb: 237,116,105;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #ed7469;
  --bs-btn-hover-border-color: #ed7469;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #ed7469;
  --bs-btn-active-border-color: #ed7469;
  --bs-btn-disabled-color: #ed7469;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ed7469;
}

.btn-light {
  --bs-btn-color: #000000;
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #ffffff;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #D9D9D9;
  --bs-btn-hover-border-color: #CCCCCC;
  --bs-btn-focus-shadow-rgb: 38,38,38;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #CCCCCC;
  --bs-btn-active-border-color: #BFBFBF;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #ffffff;
  --bs-btn-disabled-border-color: #ffffff;
}

.btn-outline-light {
  --bs-btn-color: #ffffff;
  --bs-btn-border-color: #ffffff;
  --bs-btn-focus-shadow-rgb: 255,255,255;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #ffffff;
  --bs-btn-hover-border-color: #ffffff;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #ffffff;
  --bs-btn-active-border-color: #ffffff;
  --bs-btn-disabled-color: #ffffff;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ffffff;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #1c1c1c;
  --bs-btn-border-color: #1c1c1c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #181818;
  --bs-btn-hover-border-color: #161616;
  --bs-btn-focus-shadow-rgb: 221,221,221;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #161616;
  --bs-btn-active-border-color: #151515;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #1c1c1c;
  --bs-btn-disabled-border-color: #1c1c1c;
}

.btn-outline-dark {
  --bs-btn-color: #1c1c1c;
  --bs-btn-border-color: #1c1c1c;
  --bs-btn-focus-shadow-rgb: 28,28,28;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1c1c1c;
  --bs-btn-hover-border-color: #1c1c1c;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1c1c1c;
  --bs-btn-active-border-color: #1c1c1c;
  --bs-btn-disabled-color: #1c1c1c;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #1c1c1c;
}

[data-bs-theme=dark] {
  --bs-primary: #7b6e4d;
  --bs-primary-rgb: 123,110,77;
  --bs-primary-text-emphasis: #B0A894;
  --bs-primary-bg-subtle: #19160F;
  --bs-primary-border-subtle: #4A422E;
  --bs-secondary: #333333;
  --bs-secondary-rgb: 51,51,51;
  --bs-secondary-text-emphasis: #858585;
  --bs-secondary-bg-subtle: #0A0A0A;
  --bs-secondary-border-subtle: #1F1F1F;
  --bs-success: #ecc769;
  --bs-success-rgb: 236,199,105;
  --bs-success-text-emphasis: #F4DDA5;
  --bs-success-bg-subtle: #2F2815;
  --bs-success-border-subtle: #8E773F;
  --bs-info: #a1a1a1;
  --bs-info-rgb: 161,161,161;
  --bs-info-text-emphasis: #C7C7C7;
  --bs-info-bg-subtle: #202020;
  --bs-info-border-subtle: #616161;
  --bs-danger: #ed7469;
  --bs-danger-rgb: 237,116,105;
  --bs-danger-text-emphasis: #F4ACA5;
  --bs-danger-bg-subtle: #2F1715;
  --bs-danger-border-subtle: #8E463F;
  --bs-light: #ffffff;
  --bs-light-rgb: 255,255,255;
  --bs-light-text-emphasis: #FFFFFF;
  --bs-light-bg-subtle: #333333;
  --bs-light-border-subtle: #999999;
  --bs-dark: #1b1b1b;
  --bs-dark-rgb: 27,27,27;
  --bs-dark-text-emphasis: #767676;
  --bs-dark-bg-subtle: #050505;
  --bs-dark-border-subtle: #101010;
  --bs-body-color: #212121;
  --bs-body-color-rgb: 33,33,33;
  --bs-secondary-color: rgba(33,33,33,0.75);
  --bs-secondary-color-rgb: 33,33,33,0.75;
  --bs-tertiary-color: rgba(33,33,33,0.5);
  --bs-tertiary-color-rgb: 33,33,33,0.5;
  --bs-body-bg: #ffffff;
  --bs-body-bg-rgb: 255,255,255;
  --bs-link-color: #272727;
  --bs-link-color-rgb: 39,39,39;
  --bs-link-hover-color: #616161;
  --bs-link-hover-color-rgb: 97,97,97;
  --bs-link-decoration: underline;
  --bs-border-color: #ffffff;
  --bs-focus-ring-opacity: 0.4;
  --bs-focus-ring-color: rgba(223,209,78,0.27);
}

[data-bs-theme=dark] .btn-primary, .btn-primary[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #7b6e4d;
  --bs-btn-border-color: #7b6e4d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #695E41;
  --bs-btn-hover-border-color: #62583E;
  --bs-btn-focus-shadow-rgb: 235,233,228;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #62583E;
  --bs-btn-active-border-color: #5C533A;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #7b6e4d;
  --bs-btn-disabled-border-color: #7b6e4d;
}

[data-bs-theme=dark] .btn-outline-primary, .btn-outline-primary[data-bs-theme=dark] {
  --bs-btn-color: #7b6e4d;
  --bs-btn-border-color: #7b6e4d;
  --bs-btn-focus-shadow-rgb: 123,110,77;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #7b6e4d;
  --bs-btn-hover-border-color: #7b6e4d;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #7b6e4d;
  --bs-btn-active-border-color: #7b6e4d;
  --bs-btn-disabled-color: #7b6e4d;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #7b6e4d;
}

[data-bs-theme=dark] .btn-secondary, .btn-secondary[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #333333;
  --bs-btn-border-color: #333333;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2B2B2B;
  --bs-btn-hover-border-color: #292929;
  --bs-btn-focus-shadow-rgb: 224,224,224;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #292929;
  --bs-btn-active-border-color: #262626;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #333333;
  --bs-btn-disabled-border-color: #333333;
}

[data-bs-theme=dark] .btn-outline-secondary, .btn-outline-secondary[data-bs-theme=dark] {
  --bs-btn-color: #333333;
  --bs-btn-border-color: #333333;
  --bs-btn-focus-shadow-rgb: 51,51,51;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #333333;
  --bs-btn-hover-border-color: #333333;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #333333;
  --bs-btn-active-border-color: #333333;
  --bs-btn-disabled-color: #333333;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #333333;
}

[data-bs-theme=dark] .btn-success, .btn-success[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #ecc769;
  --bs-btn-border-color: #ecc769;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #EFCF80;
  --bs-btn-hover-border-color: #EECD78;
  --bs-btn-focus-shadow-rgb: 35,30,16;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #F0D287;
  --bs-btn-active-border-color: #EECD78;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #ecc769;
  --bs-btn-disabled-border-color: #ecc769;
}

[data-bs-theme=dark] .btn-outline-success, .btn-outline-success[data-bs-theme=dark] {
  --bs-btn-color: #ecc769;
  --bs-btn-border-color: #ecc769;
  --bs-btn-focus-shadow-rgb: 236,199,105;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #ecc769;
  --bs-btn-hover-border-color: #ecc769;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #ecc769;
  --bs-btn-active-border-color: #ecc769;
  --bs-btn-disabled-color: #ecc769;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ecc769;
}

[data-bs-theme=dark] .btn-info, .btn-info[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #a1a1a1;
  --bs-btn-border-color: #a1a1a1;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #AFAFAF;
  --bs-btn-hover-border-color: #AAAAAA;
  --bs-btn-focus-shadow-rgb: 24,24,24;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #B4B4B4;
  --bs-btn-active-border-color: #AAAAAA;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #a1a1a1;
  --bs-btn-disabled-border-color: #a1a1a1;
}

[data-bs-theme=dark] .btn-outline-info, .btn-outline-info[data-bs-theme=dark] {
  --bs-btn-color: #a1a1a1;
  --bs-btn-border-color: #a1a1a1;
  --bs-btn-focus-shadow-rgb: 161,161,161;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #a1a1a1;
  --bs-btn-hover-border-color: #a1a1a1;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #a1a1a1;
  --bs-btn-active-border-color: #a1a1a1;
  --bs-btn-disabled-color: #a1a1a1;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #a1a1a1;
}

[data-bs-theme=dark] .btn-danger, .btn-danger[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #ed7469;
  --bs-btn-border-color: #ed7469;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #F08980;
  --bs-btn-hover-border-color: #EF8278;
  --bs-btn-focus-shadow-rgb: 36,17,16;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #F19087;
  --bs-btn-active-border-color: #EF8278;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #ed7469;
  --bs-btn-disabled-border-color: #ed7469;
}

[data-bs-theme=dark] .btn-outline-danger, .btn-outline-danger[data-bs-theme=dark] {
  --bs-btn-color: #ed7469;
  --bs-btn-border-color: #ed7469;
  --bs-btn-focus-shadow-rgb: 237,116,105;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #ed7469;
  --bs-btn-hover-border-color: #ed7469;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #ed7469;
  --bs-btn-active-border-color: #ed7469;
  --bs-btn-disabled-color: #ed7469;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ed7469;
}

[data-bs-theme=dark] .btn-light, .btn-light[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #ffffff;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #D9D9D9;
  --bs-btn-hover-border-color: #CCCCCC;
  --bs-btn-focus-shadow-rgb: 38,38,38;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #CCCCCC;
  --bs-btn-active-border-color: #BFBFBF;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #ffffff;
  --bs-btn-disabled-border-color: #ffffff;
}

[data-bs-theme=dark] .btn-outline-light, .btn-outline-light[data-bs-theme=dark] {
  --bs-btn-color: #ffffff;
  --bs-btn-border-color: #ffffff;
  --bs-btn-focus-shadow-rgb: 255,255,255;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #ffffff;
  --bs-btn-hover-border-color: #ffffff;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #ffffff;
  --bs-btn-active-border-color: #ffffff;
  --bs-btn-disabled-color: #ffffff;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ffffff;
}

[data-bs-theme=dark] .btn-dark, .btn-dark[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #1b1b1b;
  --bs-btn-border-color: #1b1b1b;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #171717;
  --bs-btn-hover-border-color: #161616;
  --bs-btn-focus-shadow-rgb: 221,221,221;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #161616;
  --bs-btn-active-border-color: #141414;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #1b1b1b;
  --bs-btn-disabled-border-color: #1b1b1b;
}

[data-bs-theme=dark] .btn-outline-dark, .btn-outline-dark[data-bs-theme=dark] {
  --bs-btn-color: #1b1b1b;
  --bs-btn-border-color: #1b1b1b;
  --bs-btn-focus-shadow-rgb: 27,27,27;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1b1b1b;
  --bs-btn-hover-border-color: #1b1b1b;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1b1b1b;
  --bs-btn-active-border-color: #1b1b1b;
  --bs-btn-disabled-color: #1b1b1b;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #1b1b1b;
}

