<!DOCTYPE html>
<html class="text-center" data-bs-theme="light" lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Bandisaw</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700&amp;display=swap">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/bs-theme-overrides.css">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Admin</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/views}">Views Management</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class = "container">
    <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Update View </h1>
            <div class = "card-body">
                <form th:action="@{/views/{id} (id=${view.id})}" th:object = "${view}" method="POST">
                    <div class="form-group">
                        <label> Band </label>
                        <input
                                type="text"
                                name="band"
                                th:field="*{band}"
                                class="form-control"
                                placeholder="Enter Band Name"
                        />
                    </div>

                    <div class="form-group">
                        <label> About </label>
                        <input
                                type="text"
                                name="about"
                                th:field="*{about}"
                                class="form-control"
                                placeholder="Enter info about the show"
                        />
                    </div>

                    <div class="form-group">
                        <label> Rating </label>
                        <input
                                type="text"
                                name="rating"
                                th:field="*{rating}"
                                class="form-control"
                                placeholder="Enter rating from 1 to 5"
                        />
                    </div>
                    <div class="form-group">
                        <label> Show </label>
                        <input
                                type="text"
                                name="show"
                                th:field="*{show}"
                                class="form-control"
                                placeholder="Enter the show name"
                        />
                    </div>
                    <div class="form-group">
                        <label> Genre </label>
                        <input
                                type="text"
                                name="genre"
                                th:field="*{genre}"
                                class="form-control"
                                placeholder="Select genre"
                        />
                    </div>
                    <div class="form-group">
                        <label> Location </label>
                        <input
                                type="text"
                                name="location"
                                th:field="*{location}"
                                class="form-control"
                                placeholder="Enter location"
                        />
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>



<footer>
    <div class="container text-center">
        <p>Copyright ©&nbsp;Bandisaw 2023</p>
    </div>
</footer>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/bandisaw.js"></script>
</body>

</html>